.ipynb_checkpoints
__pycache__/*
1-Ramp Up/1-Python/3-Colecciones
1-Ramp Up/1-Python/4-Funciones
1-Ramp Up/1-Python/5-OOP
1-Ramp Up/1-Python/6-Modulos
1-Ramp Up/1-Python/7-Programacion funcional
1-Ramp Up/1-Python/ejercicios
1-Ramp Up/1-Python/examen
1-Ramp Up/1-Python/material_extra

1-Ramp Up/SVL_marzo_examen_rampup
