.ipynb_checkpoints
__pycache__

############# 2- Data Analysis #############
2-Data Analysis/3-Visualizacion/5-Business Intelligence

3-Machine Learning/3-Time Series
# 3-Machine Learning/4-Deep Learning/4-Embeddings y secuencias

4-Data Science & Business
# 5-Sistemas_de_Recomendacion

# 4-Productivizacion/2-Python_everywhere
# 4-Productivizacion/3-Clasificador_flores
4-Productivizacion/5-Spark

7-Orientation